// 
// Colors
// 

$white: #fff;
$ghost: #424242;
$light-grey: #d1d1d1;
$smoke: #9e9e9e;
$charcoal: #525252;
$ink: #424242;
$l-blueGray: #486F9B;
$blueGray: #385678;
$d-blueGray: #283D55;

// Monochrome Scale
$mono-0: #FFFFFF;
$mono-50: #FAFAFA;
$mono-100: #F5F5F5;
$mono-200: #EEEEEE;
$mono-300: #E0E0E0;
$mono-400: #BDBDBD;
$mono-500: #9E9E9E;
$mono-600: #757575;
$mono-700: #515151;
$mono-800: #383838;
$mono-900: #212121;

// Blue Scale
$blue-100: #507bac;
$blue-200: #486f9b;
$blue-300: #406289;
$blue-400: #385678;
$blue-500: #304A67;
$blue-600: #283D55;
$blue-700: #203144;

// Secondary Options

$agave-1: #a8bca4;
$agave-2: #8ca687;
$rose-1: #EDD1CA;
$rose-2: #F0C0B9;
$pinot-1: #844353;
$pinot-2: #663340;
$brass-1: #EDD0AD;
$brass-2: #E3BF94;
$peach-1: #eeae9d;
$peach-2: #e8927c;


