@font-face {
    font-family: BrandonText;
    src: url(../fonts/brandon_reg-webfont.ttf);
}

@font-face {
    font-family: BrandonGrotesque;
    src: url(../fonts/brandon_reg-webfont.ttf);
}

@font-face {
    font-family: AshburyLight;
    src: url(../fonts/ashburylig-webfont.ttf);
}