@font-face {
    font-family: BrandonText;
    src: url(../fonts/brandon_reg-webfont.ttf);
}

@font-face {
    font-family: BrandonGrotesque;
    src: url(../fonts/brandon_med-webfont.ttf);
}

@font-face {
    font-family: AshburyLight;
    src: url(../fonts/ashburylig-webfont.ttf);
}

@font-face {
	font-family: BrandonGrotesqueBld;
	src: url(../fonts/brandon_bld-webfont.ttf)
}

@font-face {
	font-family: BrandonGrotesqueBlk;
	src: url(../fonts/BrandonGrotesque-Black.ttf)
}